[submodule "libfoo"]
    path = tools/react-devtools
    url = git@github.com:facebook/react-devtools.git
[submodule "app/sass/bourbon"]
	path = app/sass/bourbon
	url = git@github.com:thoughtbot/bourbon.git
