.port-list
  width: 400px
  margin: auto
  margin-top: 4em
  padding: 1em
  ul
    padding-left: 0

.refresh
  margin: auto
  margin-top: 1em

.port
  margin-top: 1em
  background: #ecf0f1
  padding: 1em
  width: 100%
  display: block

.port__image
  height: 100px
  padding-top: 1em

.backdrop
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0,0,0,0.5)
  padding: 3em

.dialog
  position: relative
  background: #fff
  border-radius: 3px
  max-width: 400px
  min-height: 150px
  margin: auto
  padding: 2em

.button
  position: absolute
  right: 0
  bottom: 0
  padding: 1em
