header
  background: #ecf0f1
  p
    margin: 0
  flex: auto
  padding: 1.5em
  display: flex
  .header-left
    flex: 1
    .header--connection
      display: inline-block
      font-weight: bold
      margin-right: 1em
    .header--filter
      display: inline-block

$blue: #3498db
$green: #2ecc71
$red: #e74c3c

@mixin button($color)
  background-color: $color
  border: none
  font-size: 1em
  border-radius: 5px
  padding: .25em .5em
  color: white
  
  &:hover
    cursor: pointer
    background-color: mix(black, $color, 15%)
    border-color: mix(black, $color, 40%)

.button-submit
  @include button($blue)

#main
  display: flex
  flex-direction: column
  height: 100vh

.pin-list
  flex: 100%
  width: 100%
  overflow-y: scroll

.replay
  flex: auto
  width: 100%
  border-top: 1px solid gray
  .controls
    padding: 1em
    display: flex
    .replay-controls
      flex: 1

.link
  margin-right: 1em
  &:last-child
    margin-right: 0em

.filter-section
  display: inline-block
  margin-left: 1em
  vertical-align: top

.filter-description
  display: inline-block
  font-weight: bold
  vertical-align: top

