@import "sass/bourbon/core/bourbon"
@import "sass/neat/app/assets/stylesheets/neat"
@import "sass/bitters/core/base"
@import "sass/refills/source/stylesheets/refill"
@import "sass/refills/source/stylesheets/refills-variables"
@import "sass/refills/source/stylesheets/refills-header"


body
  position: relative
  height: 100vh
  background-color: white
  font-family: Helvetica Neue, Helvetica, sans-serif

li
  list-style: none

a
  color: white
  opacity: .75
  text-decoration: none

  &:hover
    opacity: 1
    text-decoration: none
    cursor: pointer
